<header class="site-header">

  <div class="wrapper">

    <img src="/images/banner_modified.png">
  <nav id="primary_nav_wrap">
    <ul>
	<li><a class="page-link" href="{{ site.baseurl }}/index.html">Ana sayfa</a>
	<li><a class="page-link" href="{{ site.baseurl }}/Ürünlerimiz/paslanmazkorkuluk.html">Ürünlerimiz</a>
	<ul>
	    <li><a class="page-link" href="{{ site.baseurl }}/Ürünlerimiz/paslanmazkorkuluk.html">Paslanmaz korkuluk sistemleri</a>
	    <li><a class="page-link" href="{{ site.baseurl }}/Ürünlerimiz/aluminyumkorkuluk.html">Alüminyum korkuluk sistemleri</a>
	    <li><a class="page-link" href="{{ site.baseurl }}/Ürünlerimiz/ferforjekapi.html">Ferforje kapı modelleri</a>
	    <li><a class="page-link" href="{{ site.baseurl }}/Ürünlerimiz/ferforjepencere.html">Ferforje pencere korkuluk modelleri</a>
	    <li><a class="page-link" href="{{ site.baseurl }}/Ürünlerimiz/ferforjebahce.html">Ferforje bahçe modelleri</a>
	    <li><a class="page-link" href="{{ site.baseurl }}/Ürünlerimiz/binagiris.html">Bina giriş kapı ve kemer modelleri</a>
	    <li><a class="page-link" href="{{ site.baseurl }}/Ürünlerimiz/celikkonstruksiyon.html">Çelik konstrüksiyon</a>
	    <li><a class="page-link" href="{{ site.baseurl }}/Ürünlerimiz/sandivicpanel.html">Sandiviç panel kapatma sistemleri</a>
	    <li><a class="page-link" href="{{ site.baseurl }}/Ürünlerimiz/osbsingil.html">OSB şıngıl ile çatı kapatma sistemleri</a>
	    <li><a class="page-link" href="{{ site.baseurl }}/Ürünlerimiz/alcipankaplama.html">Alçıpan kaplama ve bölme duvarları</a>
	    <li><a class="page-link" href="{{ site.baseurl }}/Ürünlerimiz/ferforjesus.html">Ferforje süs eşyaları</a>
	    <li><a class="page-link" href="{{ site.baseurl }}/Ürünlerimiz/kamelya.html">Kamelya</a>
	</ul>
	<li><a class="page-link" href="{{ site.baseurl }}/Galeri/index.html">Galeri</a>
	<li><a class="page-link" href="{{ site.baseurl }}/Referanslarımız/index.html">Referanslarımız</a>
	<li><a class="page-link" href="{{ site.baseurl }}/İletişim/index.html">İletişim</a>
    </ul>
  </nav>


  </div>

</header>
